/*Шрифты*/
@font-face {
	src: url('../fonts/Cuprum-Bold.ttf');
	font-family: cb;
}

@font-face {
	src: url('../fonts/Cuprum-BoldItalic.ttf');
	font-family: cbi;
}

@font-face {
	src: url('../fonts/Cuprum-Italic.ttf');
	font-family: ci;
}

@font-face {
	src: url('../fonts/Cuprum-Regular.ttf');
	font-family:cr;
}

@font-face {
	src: url('../fonts/ptsans.ttf');
	font-family:pts;
}

@font-face {
	src: url('../fonts/ptsb.ttf');
	font-family:ptsb;
}
/*Глобальные параметры */
.clearfix:after {
	content:'';
	clear: both;
	display: table;
}

html {
	box-sizing: border-box;
	overflow-x: hidden;
}

body {
	margin: 0;
}

.container {
	max-width: 950px;
	min-width: 768px;
	margin: 0 auto;
}

.new {
	background-color: #ee3643;
    text-align: center;
    width: 34px;
    color: #fff;
    padding: 6px;
    font-size: 16px;
    font-family: pts ,calibri , sans-serif;
    position: absolute;
    top: 13px;
    right: 5px;
    transform: rotate(45deg);
}

.new:before {
	content: '';
    position: absolute;
    top: -1px;
    border: 15.5px solid transparent;
    border-left-color: #ee3643;
    border-bottom-color: #ee3643;
    left: 45px;
}

.new:after {
    content: '';
    position: absolute;
    top: -1px;
    border: 15.5px solid transparent;
    border-right-color: #ee3643;
    border-bottom-color: #ee3643;
    right: 45px;
}

/*HEADER */
header {
	color: #fff;
	font-family:cr,Calibri,Arial,sans-serif;
}
/* TOP LINE */
.top_line_header {
	background-color: #293449;
}

.logo {
	float: left;
	width: 23%;
	font-size: 0;
}
.logo > a {
	color: #fff;
	text-decoration: none;
	display: block;
	background-color: #ee3643;
	text-align: center;
	padding: 13px 0;
	box-shadow: 0 4px 0 0 #b52933;
	font-size: 24px;
	text-transform: uppercase;
}

.logo > a:hover {
	background-color:#ca2c37;
}

.logo > a:active {
	background-color:#ba2732;
}

.search {
	float: left;
	width: 24%;
	font-size: 0;
}

.search > span {
	margin-left: 45px;
	cursor: pointer;
	position: relative;
	padding: 17px 0;
	font-size: 17px;
	display: block;
}

.search > span:before {
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -42px -34px;
	left: -14%;
}

.search > span:hover:before {
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -46px -642px;
	left: -14%; 
}


.bookmark {
	float: left;
	width: 18%;
	text-align: right;
}

.bookmark > a {
	color: #fff;
	text-decoration: none;
	position: relative;
	font-size: 17px;
	padding: 17px 29px 17px 0;
	display: block;
}

.bookmark > a:before{
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -94px -33px;
	left: 13%;
}

.bookmark > a:hover:before{
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -144px -641px;
	left: 13%;
}

.bookmark:active {
	background-color: #161d29;
}

.backet {
	float: left;
	width: 18%;
	text-align: right;
	font-size: 0;
}

.backet > a {
	color: #fff;
	text-decoration: none;
	position: relative;
	padding: 17px 45px 17px 0;	
	font-size: 17px;
	display: block;
}

.backet:active {
	background-color: #161d29;
}

.backet > a:before {
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -192px -33px;
	left: 4%;
}

.backet > a:hover:before {
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -92px -640px;
	left: 4%;
}

.checkout {
    float: right;
    width: 17%;
    text-align: center;
    font-size: 0;
}

.checkout > a{
	color: #fff;
	text-decoration: none;
	font-size: 17px;
    padding: 17px 0px;
    display: block;
    background-color: #63a63e;
}

.checkout > a:hover {
	background-color: #5fbb2d;
}
/*MEDIUM HEADER LINE */
.bottom_header_wrapper {
	background-color: #f1f5f7;
}

.medium_line_header{
	padding: 46px 0 46px 50px;
	font-size: 0;
}

.header_description {
	font-family:ci , Calibri , sans-serif;
	font-size: 16px;
	color: #ee3643;
	float: left;
	width: 30%;
	text-align: left;
	margin-top: 14px;
}

.header_adress {
	font-family: cr , Calibri, sans-serif;
	width: 31%;
	float: left;
	font-size: 0;
}

.header_adress > span {
	display: block;
}

.phone_number {
	color: #ee3643;
	font-size: 21px;
	cursor: pointer;
	text-align: center;
	padding: 10px 0;
	border: 3px solid #fff;
	position: relative;
}

.phone_number:before {
	content: '';
	position: absolute;
	background:url('../img/sprites.png')no-repeat -242px -30px;
	width: 19px;
	height: 19px;
	left: 3%;
	top: 27%;
}

.header_adress > span:last-child {
	color: #32425c;
	font-size: 14px;
	margin-top: 10px;
}

.private_office {
	float: right;
	margin-top: 13px;
	text-align: right;
	width: 38%;
	font-size: 0;
}

.private_office > a {
    text-decoration: none;
    color: #000000;
    font-size: 21px;
    background-color: #fff;
    padding: 13px 35px;
}

.private_office > a:hover {
	color: #ee3643;
}

.private_office > a:active {
	color: rgba(0, 0, 0, 0.302);
}

.private_office > a:first-child {
	margin-right: 10px;
	position: relative;
}

.private_office > a:first-child:before {
    content: '';
    position: absolute;
    background: url('../img/sprites.png')no-repeat -289px -33px;
    width: 20px;
    height: 17px;
    left: 7%;
    top: 31%;
}
.private_office > a:hover:first-child:before {
    content: '';
    position: absolute;
    background: url('../img/sprites.png')no-repeat -194px -641px;
    width: 20px;
    height: 17px;
    left: 7%;
    top: 31%;	
}
/* NAV */
nav {
	font-family: cr , Calibri, sans-serif;
	display: block;
	padding-bottom: 60px;
}

nav > ul {
	text-align: center;
	padding: 0;
	background-color:#32425c;
	border-bottom: 4px solid #293449;
	font-size: 0;
}

nav > ul > li {
	display: inline-block;
	width: 14%;
}

nav > ul > li:first-child , li:last-child {
	width: 15%;
}

nav li > a {
	font-size: 17px;
	color: #fff;
	text-decoration: none;
	padding: 22px 0;
	display: block;
}

nav li > a:hover {
	background-color: #293449;
}

nav li > a:active {
	color: rgba(255, 255, 255, 0.502);
	background-color: #1d2739;
}
/* INFORMATION */
.information {
	margin: 50px 0 52px 0;
	font-size: 0;
}

.materials > span, .instruments > span , .mechanism > span , .discount > span, .delivery > span{
	font-family:cb , sans-serif;
	display: block;
	margin-bottom: 19px;
	color: #fff;
	font-size: 24px;
}

.materials > a , .instruments > a , .mechanism > a , .discount > a ,.delivery > a{
	display: block;
	font-family:cr , Calibri , sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	padding: 13px;
	width: 40%;
	text-align: center;
}

.materials > a:hover , .instruments > a:hover, .mechanism > a:hover , .discount > a:hover ,.delivery > a:hover{
	background-color:rgba(192,192,192,0.3);
}

.materials > a:active , .instruments > a:active, .mechanism > a:active , .discount > a:active ,.delivery > a:active {
	background-color:rgba(128,128,128,0.3) ;
}

.materials , .instruments , .mechanism , .discount ,.delivery {
	margin: 10px 0;
	padding: 20px;
}

.materials {
	background-color: #f6b22d;
	display: inline-block;
	width: 26%;
	margin-right: 44px;
	position: relative;
	vertical-align: top;
}

.instruments {
	background-color: #4aafde;
	display: inline-block;
	width: 26%;
	margin-right: 44px;
	vertical-align: top;
}

.mechanism {
	background-color: #cc79d1;
	display: inline-block;
	width: 26%;
	vertical-align: top;
}

.materials > a {
	background-color:#dda028;
	position: relative;
}

.materials > a:before {
	content: '';
	position: absolute;
	background:url('../img/sprites.png')no-repeat -329px -7px;
	width: 44px;
	height: 65px;
	left: 136%;
    top: -53%;
}

.instruments > a {
	background-color:#429dc7;
	position: relative;
}

.instruments > a:before {
    content: '';
    position: absolute;
    background: url('../img/sprites.png') no-repeat -415px -9px;
    width: 75px;
    height: 61px;
    left: 136%;
    top: -53%;
}

.mechanism > a {
	background-color:#b76dbc;
	position: relative;
}

.mechanism > a:before {
	content: '';
    position: absolute;
    background: url('../img/sprites.png') no-repeat -513px -12px;
	width: 78px;
	height: 62px;
    left: 136%;
    top: -53%;
}

.right-block {
	float: right;
	width: 30%;
}

.discount {
	background-color:#85d179;
}

.discount > a{
	background-color: #77bc6d;
	position: relative;
}

.discount > a:before {
	content: '';
    position: absolute;
    background: url('../img/sprites.png') no-repeat -22px -60px;
    width: 59px;
    height: 72px;
    left: 136%;
    top: -74%;
}

.delivery {
	background-color:#f6b22d ;
}

.delivery > a {
	background-color: #dda028;
	position: relative;
}

.delivery > a:before {
	content: '';
    position: absolute;
    background: url('../img/sprites.png') no-repeat -116px -67px;
	width: 78px;
	height: 63px;
    left: 136%;
    top: -74%;	
}

/*Slider */
.slider {
	float: left;
    margin-top: 10px;
    width: 65%;
    position: relative;
}

.slider > img {
	width: 100%;
}

.slide_description > h1 {
	font-family: cb , calibri , sans-serif;
	font-size: 36px;
	color: #fff;
	margin-left: 26px;
}

.slide_description > p {
	font-family: pts ,calibri, sans-serif;
	font-size: 18px;
	color: #fff;
	margin-left: 26px;
}

.slider > a {
	position: absolute;
	font-family: cr ,calibri , sans-serif;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
    bottom: 22px;
    left: 24px;
    padding: 15px 50px;
    background-color:#ee3643;
    border-radius: 2px;
}

.slider > a:hover {
	background-color:#ca2c37;
	opacity: 0.9;
}

.slider > a:active {
	background-color:#ba2732 ;
	opacity: 0.9;
}

.slide_description {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
}

/* HEADLINE */
.headline {
	background-color: #f7f3ec;
	text-transform: uppercase;
	font-family: cr , calibri , sans-serif;
	padding: 24px 30px;
	margin-bottom:10px ;
}

.headline > span {
	font-size: 30px;
	color: #32425c;
	float: left;
	width: 50%;
	margin-top: 8px;
}

.headline > a {
	float: right;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	background-color: #ee3643;
	padding: 13px 50px;
	text-align: center;
}

.headline > a:hover {
	background-color:#ca2c37;
	opacity: 0.9;
}

.headline > a:active {
	background-color:#ba2732 ;
	opacity: 0.9;
}
/*PRODUCTS*/

.product:last-child {
	margin-right: 0;
}

.product:last-child:nth-child(4) {
	margin-top: 10px;
}

.product {
	text-align: center;
	float: left;
	position: relative;
	padding: 30px;
	width: 16%;
	border: 1px solid #e5e5e5;
	font-family: ptsb , calibri , sans-serif;
	min-height:284px;
	margin: 10px 31px 23px 0;
	font-size: 0;
}

.product > img {
	width: 147px;
	height: 107px;
}

.product > h5 {
	font-size: 18px;
	color: #000000;
}

.product > span {
	display: block;
}

.before {
	font-size: 17px;
	color:#999999;
	text-decoration:line-through;
}

.after {
	font-size: 17px;
	background-color:#ee3643;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	margin-top: 15px;
	position: relative;
	color: #fff;
}

.after:after {
	content: '';
    position: absolute;
    border: 19.5px solid transparent;
    border-left-color: #ee3643;
    left: 100%;
    top: -1%;
}

.bfg-2000 {
	margin-top: 64px;
}

.product > a {
	display: none;
	text-decoration: none;
	text-transform: uppercase;
	font-family:cr , calibri , sans-serif ;
}

.product:hover {
	box-shadow:0px 3px 22px 2px #a9adb5;
}

.product:hover > a {
	display: block;
}

.product:hover > img {
	display: none;
}

.buy {
	background-color:#63a63e;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding: 15px 45px;
	margin-bottom: 9px;
	box-shadow:0 4px 0 0 #367315;
	border-radius: 2px;
	position: relative;
}

.buy:after {
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -192px -33px;
	left: 17%;
	top: 28%;
}

.buy:hover {
	background-color:#5fbb2d ;
}

.buy:hover:after {
	content: '';
	position: absolute;
	width: 26px;
	height: 17px;
	background: url('../img/sprites.png') no-repeat -92px -640px;
	left: 17%;
	top: 28%;	
}

.buy:active {
	background-color:#518534;
}

.bookmarker {
	font-size: 14px;
	border: 3px solid #63a63e;
	color: #32425c;
	padding: 10px;
}

.bookmarker:hover {
	border: 3px solid #32425c;
}

.bookmarker:active {
	opacity: 0.1;
}

/*POPULAR MANUFACTURED*/
.manufacturer {
	margin-bottom: 70px;
}

.manufactur {
	border: 1px solid #e5e5e5;
	min-height: 145px;
    width: 22%;
    margin:20px 31px 0 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.manufactur > img {
	width: 72%;
    position: relative;
    top: 45px;
    height: 50px;
}

.manufactur:nth-child(4n) {
	margin-right: 0;
}

/* SERVICES */
.services {
	background-color:#f2f6f8;
	padding: 30px 0 75px 0;
	min-height: 459px;
	margin-bottom: 70px;
}

.advantage > h3 {
	text-transform: uppercase;
	font-family:cr , calibri , sans-serif ;
	font-size: 30px;
	color: #000000;
}

.advantage > p {
	font-family:pts , calibri , sans-serif;
	font-size: 13px;
	width: 34%;
	line-height: 1.8;
}

/* TABS */
.tabbed {
	margin-top: 50px;
	position: relative;
	font-size: 0;
}

.tabbed > input {
	display: none;
}

.tabbed > label {
  display: block;
  padding: 15px 20px;
  margin-right: 5px;
  cursor: pointer;
  width: 15%;
  color: #fff;
  transition: background-color .3s;
  background-color:#32425c ;
  font-size: 21px;
  font-family: cb,calibri , sans-serif;
  border-bottom: 1px solid #293449;
}

.tabbed > input:checked + label {
  background: #fff;
  color: #32425c;
}

.tabbed > label:hover {
	background-color: #293449;
}

.tabs > div {
  width: 70%;
  position: absolute;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0;
  top: -45px;
  right: 0;
}

.tabs > div > h2 {
	font-family:cr , calibri ,sans-serif ;
	font-size: 36px;
	color: #32425c;
	line-height: 1;
}

.tabs > div > p {
	font-family:pts , calibri ,sans-serif ;
	font-size: 13px;
	width: 33%;
	line-height: 1.8;
	position: relative;
}

.tabs > div > a{
    font-size: 14px;
    font-family: cr, calibri , sans-serif;
    display: block;
    text-transform: uppercase;
    background-color: #ee3643;
    line-height: 1;
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 13px;
    margin-top: 20px;
}

.tabs > div > .car:after {
	content: '';
	position: absolute;
	background:url('../img/sprites.png')no-repeat -8px -151px ;
	width: 468px;
	height: 261px;
	top: -11%;
}

.tabs > div > .guarantee:after {
	content: '';
	position: absolute;
	background:url('../img/sprites.png')no-repeat -594px -93px ;
	width: 389px;
	height: 283px;
	top: -11%;
	left: 55%;
}

.tabs > div > .credit:after {
	content: '';
	position: absolute;
	background:url('../img/sprites.png')no-repeat -535px -431px;
	width: 465px;
	height: 285px;
	top: -11px;
	left: 55%;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}